/* navigation.css */
/* mobile first styles */
nav ul {
  list-style-type: none;
  padding:0;
  display: flex;
  flex-direction: column;
}
nav li a {
  text-decoration: none;
  display: block;
  background-color: #efefef;
  padding: .5rem .1rem;
}
nav li a:hover {
  color: #efefef;
  background-color: teal;
}
yayay
